@model Diablo3DamageCalc.Models.ProfileModel
@{
    ViewBag.Title = "D3Profile";
}

<h2> @(!string.IsNullOrEmpty(ViewBag.BattleTag) ? ViewBag.BattleTag : "Player") Profile</h2>


<h3>Heroes</h3>


@if (Model.PlayerProfile != null)
{
    using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.LabelFor(m => m.SelectedHero);
        @Html.DropDownListFor(m => m.SelectedHero, Model.HeroNames)
        @Html.ValidationMessageFor(m => m.SelectedHero)
        <input type="submit" value="Submit" name="ActionRegister" />
    }
}
else {
    <h4> No Heroes Found! </h4>
}


